*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

main{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 10vh 50vh 5vh 35vh;
}

.page-loader{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  font-weight:400;
}

.page-loader img{
  width: 8rem;
  height: 8rem;
}

/*=====================================================================*/
/* containers layout */
#selfintro-container{
  grid-column: 3/8;
  grid-row: 1/5;
  transition: opacity 0.25s ease-in-out;

  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow-y: hidden;
  padding: 2% 2% 2% 2%;

  z-index: 20;
}

#threejs-container{
  grid-column: 8/17;
  grid-row: 1/5;

  overflow: hidden;
}

#highlight-overlay{
  grid-column: 8/17;
  grid-row: 1/5;
  overflow-x: hidden;

}

#about-me-container{
  grid-column: 3/8;
  grid-row: 1/5;
  overflow-y: hidden;
  transition: opacity 0.25s ease-in-out;
  padding: 2% 2% 2% 2%;

}

.project-iframe-container{
  grid-column: 1/14;
  grid-row: 1/5;
  overflow-y: hidden;
}

.nav-bar{
  grid-column: 1/3;
  grid-row: 1/5;
  z-index: 15;

  display: flex;
  flex-flow: column;
  gap: 1.75rem;
  justify-content: center;
  padding-left: 2rem;
}

.sub-project-grid{
  grid-column: 3/8;
  grid-row: 1/5;
  height: 70vh;

  align-self: center;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
  overflow-y: scroll;
  z-index: 20;

  padding: 2% 2% 2% 2%;
}

/* Scroll 2 */
.sub-project-grid::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sub-project-grid::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.082);
  border-radius: 10px;
}
.sub-project-grid::-webkit-scrollbar-thumb {
  background-color: #11171a75;
  border-radius: 10px;
}

/*=====================================================================*/
/* nav-bar contents */

.nav-bar img{
  height: 8vh;
  width: 8vh;
  cursor: pointer;
}

.nav-bar img:hover{
  transform: scale(1.12);
}

.nav-bar > ul{
  display: flex;
  flex-flow: column;
  gap: 1rem;
  list-style: none;
  font-size: medium;
  font-weight:300;
  cursor: pointer;
}

.nav-bar >ul >li:hover {
  color: rgb(255, 71, 71);
}

/* radio buttons */
.nav-bar >form {
  display: flex;
  flex-direction:column;
  gap: 1rem;
  list-style: none;
  font-size: medium;
  font-weight:300;
}

.nav-bar label{
  cursor: pointer;

}

.nav-bar label:hover{
  color: rgb(255, 71, 71);
}

.nav-bar input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.nav-bar input:checked + span{
  color: rgb(255, 71, 71);
}

.link-div{
  display: flex;
  gap: 0.5rem;
}

.link-div img{
  opacity: .75;
  height: 1.25rem;
  width: 1.25rem;
}

/*=====================================================================*/
/* highlight overlay */

.highlight-div{
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;

}

.highlight-rect{
  position: relative;
  background-color: rgb(255, 77, 77);
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(0, 0);
  cursor: pointer;

}

.highlight-rect:hover {
  background-color: rgba(255, 77, 77, 0.596);
  transform: scale(2.5);
  transition: transform 0.25s ease-in-out;
}

.highlight-rect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 0;
  z-index: -1;
  animation: ripple 1.5s ease-out infinite;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(6);
  }
}

/*=====================================================================*/
/* grid of the projects in different categories */

.grid-span-1{
  grid-column-start: span 1;
  grid-row-start: span 1;  
}

.grid-span-2{
  grid-column-start: span 2;
  grid-row-start: span 1;  
}

.grid-span-4{
  grid-column-start: span 2;
  grid-row-start: span 2;  
}

.hide-grid{
  visibility: hidden;
  opacity: 0;
}

/* project card */
.sub-project-grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card{
  background-size: cover;
  transition: transform 0.25s ease;

}

.project-card:hover{
  transform: scale(1.03);
}

.project-card:hover .card-content{
  opacity: 1;
}

.card-content{
  background: rgba(255, 0, 0, 0.219);
  width: 100%;
  height: 100%;

  opacity: 0;
  display: flex;
  align-items: flex-start;  
  flex-flow: column;
  gap: 1rem;
  justify-content: center;
  color: aliceblue;
  transition: opacity 0.25s ease-in-out;
  cursor: pointer;

}

.card-content div:first-child{
  font-size: medium;
  font-weight: 500;
  display: inline-block;
  align-self: center;
  text-align: center;
}

.card-content div:last-child{
  font-size: small;
  display: inline-block;
  align-self: center;
  text-align: center;

  border: 1px aliceblue;
  border-style: solid;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem ;
}



/*=====================================================================*/
/* content of self introduction container */
.greeting_div{
  display: flex;
  padding: 1rem 0;
}

.greeting_text{
  width: 70%;
  align-self: center;
  font-size: 3.5rem;
  font-weight: 200;
  /* background-color:aquamarine; */

}

.intro_text{
  /* background-color: antiquewhite; */
  font-weight: 300;
  line-height: 1.5;
}

/*=====================================================================*/
/* sub project iframe */
iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/*=====================================================================*/
/* sub project iframe */
.close {  
  position: absolute;
  left: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*=====================================================================*/
/* containers layout for Mobile Devices */
@media screen and (max-width:800px) {
  #selfintro-container{
    grid-column: 1/17;
    grid-row: 4/5;
  }
  
  #threejs-container{
    grid-column: 1/17;
    grid-row: 1/4;
  
    overflow: hidden;
  }
  
  #highlight-overlay{
    grid-column: 1/17;
    grid-row: 1/4;
    overflow-x: hidden;
  
  }
  
  #about-me-container{
    grid-column: 1/17;
    grid-row: 4/5;
  
  }
  
  .project-iframe-container{
    grid-column: 1/17;
    grid-row: 1/5;
    overflow-y: hidden;
  }
  
  .nav-bar{
    grid-column: 1/17;
    grid-row: 3/4;
    z-index: 15;
  
    flex-flow: column;
    gap: 1rem;
    justify-content: flex-end;
    padding-left: 3vw;
  }

  .sub-project-grid{
    grid-column: 1/17;
    grid-row: 4/5;  
    height: 30vh;
  }
  
  .nav-bar >form {
    display: flex;
    flex-direction:row;
  }

}
