*{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

/* Scroll 2 */
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.082);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #11171a75;
  border-radius: 10px;
}

main{
  padding-left: 96px;
  padding-top: 32px;
  padding-right: 96px;
  padding-bottom: 32px;

  display: flex;
  flex-flow: column;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight:300;
}

h2 {
  font-size: medium;
  font-weight:900;
}

p {
  font-weight: 400;
  text-align:justify;
}

figure {
  display: flex;
  flex-flow: column;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}